<%- include('includes/header.ejs') %>
<%- include('includes/nav.ejs') %>
<div class="container">
    <h1><%= titulo %></h1>
    <br>
    <%- include('includes/tabla_zombies.ejs') %>  
</div>

<%- include('includes/footer.ejs') %> 