<%- include('includes/head.ejs') %>
<%- include('includes/nav.ejs') %>
    
    
    <main class="container">
        <h1><%= titulo %></h1>

            <div class="row">
                <div class="col s12 m6 l4">

                    <form action="/users/login" method="POST">
                        <label for="username">Nombre de usuario: </label>
                        <input type="text" id="username" name="username" placeholder="misaelg99" required>
                        <br/>
                        <br/>
                        <label for="password">Contraseña: </label>
                        <input type="password" id="password" name="password" placeholder="jxuehRF@x2982#ix">
                        <br/>
                        <br/>
                        <input type="submit" id="enviar" name="enviar" value="Ingresar">
                    </form>
                                
                </div>
            </div>

    </main>
    <%- include('includes/footer.ejs') %>

