<nav>
    <div class="nav-wrapper">
      <a href="/menu/list" class="brand-logo">Menú</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">         
        <% if( isLoggedIn ) { %>
                <li>Hola <%= username %></li>
                <li><a href="/menu/add">Agregar platillo</a></li>
                <li><a href="/users/logout">Cerrar sesión</a></li>
            <% } else { %>
                <li><a href="/users/login">Iniciar sesión</a></li>
            <% } %>

      </ul>
    </div>
  </nav>