<%- include('includes/head.ejs') %>
<%- include('includes/nav.ejs') %>
    
    
    <main class="container">
        <h1><%= titulo %></h1>
        
        
          <!-- Dropdown Trigger -->
            <a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Drop Me!</a>

            <!-- Dropdown Structure -->
           <input type="text"></main>



            <div class="row">
                <% if (lista_platillos.length > 0) { %>
                    <% for (let platillo of lista_platillos) { %>
                <div class="col s12 m6 l4">
                    
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="<%= platillo.imagen %>">
                        </div>
                        <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4"><%= platillo.nombre %><i class="material-icons right">more_vert</i></span>
                        <p><a href="#">This is a link</a></p>
                        </div>
                        <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Carne asada<i class="material-icons right">close</i></span>
                        <p><%= platillo.descripcion %></p>
                        </div>
                    </div>
                </div>
                    <% } %>
                <% } else { %>
                    <h1>No hay platillos disponibles en el menú</h1>
                <% } %> 
            </div>

    </main>
    <%- include('includes/footer.ejs') %>

