<!-- NAVBAR-->
<nav class="navbar navbar-expand-sm navbar-light bg-light" id="navbar">
    <div class="container-fluid">
        <a class="navbar-name" href="/">
            PETZ
        </a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                    <li><a href="/add-register">Registrar nuevo zombie</a></li>


            </ul>
        </div>
    </div>
</nav>
</header>