<table class="striped">
    <thead>
        <tr>
            
            <th>Nombre</th>
            <th>TipoEstado</th>
            <th>HoraRegistro</th>
        </tr>
    </thead>
    <tbody>
        <% for (let zombie of lista_zombie) { %>
            <tr>
                <td><%= zombie.nombre %></td>
                <td><%= zombie.tipo_estado %></td>
                <td><%= zombie.fecha %></td>
           </tr>
        <% } %>
    </tbody>
</table>