<%- include('includes/head.ejs') %>
<%- include('includes/nav.ejs') %>
    
    
    <main class="container">
        <h1><%= titulo %></h1>

            <div class="row">
                <div class="col s12 m6 l4">

                    <form action="/menu/add" method="POST">
                        <label for="nombre">Nombre del modelo: </label>
                        <input type="text" id="nombre" name="nombre" placeholder="Chaleco trenzas negro" required>
                        <br/>
                        <br/>
                        <label for="precio">Precio del modelo:  </label>
                        <input type="text" id="precio" name="precio" placeholder="$235">
                        <br/>
                        <br/>
                        <input type="submit" id="enviar" name="enviar" value="Enviar">
                    </form>
                                
                </div>
            </div>

    </main>
    <%- include('includes/footer.ejs') %>

