  <%- include('includes/head.ejs') %>
  <%- include('includes/nav.ejs') %>

    <input type="hidden" id="_csrf" name="_csrf" value="<%= csrfToken %>" >
      <div class="input-field mb-3">
        <label for="buscar">Buscar</label><br>
        <input type="text" class="validate" id="buscar" placeholder="suéter cuello alto">
        
      </div>
      
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
              <div class="carousel-item active">
                  <img class="d-block w-100" width="15"src="../saco.png">
              </div>
              <div class="carousel-item">
                  <img class="d-block w-100" width="15"src="../azul.png" alt="Second slide">
              </div>
              <div class="carousel-item">
                  <img class="d-block w-100" width="15" src="../capa.png" alt="Third slide">
              </div>
          </div>
          <a class="carousel-control-prev" href="#caro uselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
          </a>
      </div>

      <div id="ribbon">
          <div id="birthday" class="container w-50 pl-5 pr-5 rounded-lg">
            <!-- slide -->
            <div class="row align-items-center">
              
              <div class="col-sm p-3 text-light text-center">
                <p class="text-warning h3 text-light">Nuevos productos</p>
    
              </div>
            </div><!-- SLIDE-->
          </div>
      </div>
      <!-- RIBBON-->
      <!--div class="container-fluid bg-light s12 m6 l4"-->
        <div class="row" id="contenedor_piezas">
          <% if (lista_piezas.length > 0) { %>
            <% for (let pieza of lista_piezas) { %>
          <div class="col text-center h-100 s12 m6 l4">
              <img src="<%= pieza.imagen %>" width="350">
              <div class="info_item mt-3">
                <h3><%= pieza.nombre %></h5>
                <h5>FW 21</h3>
                <p><%= pieza.precio %></p>
              </div>
              <div class="form-outline">
                <label for="cant_prod1">Cantidad:</label> <br>
                <input type="number" id="cant_prod1" class="cant_prod" min="0" max="5">
              </div>
              <div class="d-grid gap-2">
                <button class="btn btn-light m-3">Agregar</button>
              </div>
          </div>
        </div>
        <% } %>
      <% } else { %>
        <h2>No hay productos disponibles por el momento, intenta más tarde.</h2>
      <% } %> 
      <!--/div-->
      <%- include('includes/footer.ejs') %>

    <script>
      document.getElementById("buscar").oninput = ()  => {
        //console.log(document.getElementById("buscar").value);
        
        //El token de protección CSRF
        const csrf = document.getElementById('_csrf').value;
        //console.log(csrf);

        //función que manda la petición asíncrona
        fetch('/menu/search', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'csrf-token': csrf
            },
            body: JSON.stringify({
              query: document.getElementById("buscar").value,

            })
        }).then(result => {
            return result.json(); //Regresa otra promesa
        }).then(data => {
            //Modificamos el DOM de nuestra página de acuerdo a los datos de la segunda promesa
            let contenido = "";

             if (data.length > 0) { 
              for (let pieza of data) { 
                    contenido += '<div class="col text-center h-100 s12 m6 l4">';
                    contenido += '<img src=" '+ (pieza.imagen === null ? '' : pieza.imagen) +'" width="350">';
                    contenido += '<div class="info_item mt-3">';
                    contenido += '<h3>'+ pieza.nombre +'</h5>';
                    contenido += '<h5>FW 21</h3>';
                    contenido += '<p>'+ pieza.precio +'</p>';
                    contenido += '</div>';
                    contenido += '<div class="form-outline">';
                    contenido += '<label for="cant_prod1">Cantidad:</label> <br>';
                    contenido += '<input type="number" id="cant_prod1" class="cant_prod" min="0" max="5">';
                    contenido += '</div>';
                    contenido += '<div class="d-grid gap-2">';
                    contenido += '<button class="btn btn-light m-3">Agregar</button>';
                    contenido += '</div>';
                    contenido += '</div>';
                    contenido += '</div>';
              } 
            } else { 
              contenido += '<h2>No hay productos disponibles por el momento, intenta más tarde.</h2>';
             } 

            document.getElementById("contenedor_piezas").innerHTML = contenido;
            data = data.rows;
            console.log(data);
        }).catch(err => {
            console.log(err);
        });
      }
    </script>

