<div id="footer" class="p-5">
    <div class="container w-30 pt-3 bg-light">
      <div class="row justify-content-md-center py-5">
        <div class="col text-center font-weight-light">
          <h4>Copyright - 2021 Parque Jurasico. Todos los derechos reservados. </h4>
          
        </div>
      </div>
      
    </div>
  </div>