<%- include('includes/head.ejs') %>
<%- include('includes/nav.ejs') %>
    
    
    <main class="container">
        <h1><%= titulo %></h1>

            <div class="row">
                <div class="col s12 m6 l4">

                    <form action="/users/add" method="POST">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
                        <label for="nombre">Nombre completo: </label>
                        <input type="text" id="nombre" name="nombre" placeholder="Misael Guzmán Gutiérrez" required>
                        <br/>
                        <br/>
                        <label for="username">Nombre de usuario:  </label>
                        <input type="text" id="username" name="username" placeholder="misaelguzman99">
                        <br/>
                        <br/>
                        <label for="password">Contraseña:  </label>
                        <input type="password" id="password" name="password" placeholder="*******">
                        <br/>
                        <br/>
                        <input type="submit" id="enviar" name="enviar" value="Enviar">
                    </form>
                                
                </div>
            </div>

    </main>
    <%- include('includes/footer.ejs') %>

