    <header>
        <!-- NAVBAR-->
            <nav class="navbar navbar-expand-sm navbar-light bg-light" id="navbar">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">
                        <img src="../Tribeka.jpeg " alt="" width="54">
                    </a>
                    
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item"><a class="nav-link" aria-current="page" href="#">Inicio</a></li>
                            <li class="nav-item"><a class="nav-link active" href="#">Tienda</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Contáctanos</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
    </header>