@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

 h1 {
	font-family: "Roboto";
	margin-top: 1em;
	padding-top: 1em;
	color: #A76700;
	text-align: center;
	border-radius: 3px;
}


h1:hover{
	color: red;
}


h2, h3{
	font-family: "Roboto";
	margin-top: 1em;
	margin-left: 2em;
	margin-right: 2em;
  	padding-top: 1em;
  	color: #A76700;
  	text-align: left;
}


.preguntas:hover, li p:hover{
	font-size: 15pt;
}


body{
	border: 25px solid #EE7108;
	margin: 0 auto;
	max-width: 60em;
	font-family: "Monaco","Courier New", monospace;
	line-height: 1.75;
	padding: 4em 1em;
}


li p{
	color: #555;
	margin-left: 5em;
	margin-right: 5em;
	font-size: 11pt;
	text-align: justify;
  	text-justify: inter-word;
}


li{
	list-style: none;
}


li:before{
	content: "\2663 \0020";
}


strong{
	font-style: italic;
	font-weight: bold
}


#tabla-id tr td {
  
  background-color: #A4A700;
  border: 3px dotted;
  width: 100%;

}



a {
  color: #e81c4f;
}

